* {
	margin: 0px;
	padding: 0px;
}

html {
  	scroll-behavior: smooth;
}

body {
	font-family: 'New Tegomin', serif;	 
}

body.home {
	background-color: #f2f2f2;
}

body.focs {
	background-color: #ecf8f2;
}

body.itcs {
	background-color: #fff7e6;
}

body.csp {
	background-color: #e6ecff;
}

body.cs-a {
	background-color: #ffe6ee;
}

body.poit {
	background-color: #ffeee6;
}

body.cm {
	background-color: #e6e6ff;
}

.header {
	width: 100%;
	height: 25em;
}

nav table {	
	width: 100%;
	postion: fixed;	
}

nav th {	
	font-size: 2em;
	border-style: solid;
	border-color: solid black;	
}

h1 {
	margin: 10px;
	padding: 5px;
	text-align: center;
	font-size: 4em;
	color: #404040;
	/*border-style: solid;
	border-color: solid black;*/
}

h2 {
	margin: 10px:
	padding: 5px;
	text-align: center;
	font-size: 3em;
	color: #595959;
}

h3 {
	margin: 10px:
	padding: 5px;
	text-align: center;
	font-size: 2em;
}

h4 {
	margin: 10px:
	padding: 5px;
	text-align: center;
	font-size: 1.5em;
}

.project {
	color: #404040;
}

.focsHeader {
	color: #339966;
}

.itcsHeader {
	color: #e6ac00;
}

.cspHeader {
	color: #3366ff;
}

.cs-aHeader {
	color: #ff6699;
}

.poitHeader {
	color: #ff9966;
}

.cmHeader {
	color: #6666ff;
}

p {
	margin: 10px;
	padding: 5px;
	text-align: justify;	
	font-size: 1.5em;
	/*border-style: solid;
	border-color: solid black;*/
}

ul.home {
	margin-left: 30px;
    margin-right: 30px;
	padding: 10px;
    font-size: 1.5em;
    list-style-type: none;
}

li {

	list-style-position: inside;
}

ul.intro {
	margin-left: 30px;
    margin-right: 30px;
	padding: 10px;
    font-size: 1.5em;
    list-style-type: none;
}

.intro {
	color: gray;
	font-weight: bold;
}

.homeNav {
	background-color: gray;
}

.focsNav {
	background-color: #339966;
}

.itcsNav {
	background-color: #e6ac00;
}

.cspNav {
	background-color: #3366ff;
}

.cs-aNav {
	background-color: #ff6699;
}

.poitNav {
	background-color: #ff9966;
}

.cmNav {
	background-color:  #6666ff;
}

a:link {
	display: block;
	text-decoration: none;	
}

a:visited {
	color: black;
}

a:hover {
	color: white;
    background-color: black;
}

a:active {
	color: white;
    background-color: black;
}

.rocket {
	display: block;
	width: 10%;	
}

a.inlineLink {
	display: inline;
	color: red;
}

marquee {
	font-size: 50px;
	background-color: red;
	color: white;
}

.newsHeader {
	width: 100%;
	height: 15em;
}

iframe {
	width: 100%;
	height: 25em;
}



